{% extends 'layout.html' %}

{% block css %}


{% endblock %}



{% block tabel %}
    <div style="width: 300px;margin: 0 auto;margin-top: 100px">
        <h1>输入框里修改班级名称</h1>
        <form method="POST" action="/edit_class/?nid={{ result.id }}">
            <div style="margin: 10px 0">
                <p class="label label-default">className:</p>
            </div>
            <div style="margin: 10px 0">
                <input type="text" name="title" value="{{ result.title }}" class="form-control">
            </div>
            <div style="margin: 10px 0">
                <input type="submit" value="Submit" class="btn btn-info">
            </div>

        </form>
    </div>
{% endblock %}



{% block js %}


{% endblock %}

